<style>
    #libraryhexmap {
        height: 1000px;
        width: 100%;
        animation-duration: 0.3s;
    }

    #libraryhexmap .hex-cell {
        stroke: white;
        stroke-width: 1;
        transition: fill 0.3s ease-in, stroke 0.3s ease-in, stroke-width 0.3s ease-in;
    }

    /* Make the hexagon larger when hovered */
    #libraryhexmap .hex-cell.hover {
        stroke-width: 2px;
        transform: scale(2);
    }

    /* Set the on and off styles for the text labels */
    #libraryhexmap .hex-label tspan.on {
        display: none;
    }

    #libraryhexmap .hex-label tspan.off {
        display: block;
    }

    #libraryhexmap .hex-label tspan.fine-free {
        color: #00ff00;
    }

    #libraryhexmap .hex-label tspan.fine-paid {
        color: aquamarine;
    }

    #libraryhexmap .hex-label tspan.big {
        font-weight: bold;
        font-size: 2em;
    }

    #libraryhexmap .hex-label.hover tspan.on {
        display: block;
    }

    #libraryhexmap .hex-label.hover tspan.off {
        display: none;
    }
</style>

<div id="libraryhexmap"></div>

<script src="/assets/js/odi.hexmap.min.js"></script>
<script src="/assets/js/library-hex-map.js"></script>