<style>
    #libraryhexmap {
        height: 800px;
        width: 100%;
    }

    #libraryhexmap .hex-cell {
        stroke: white;
        stroke-width: 1;
    }

    #libraryhexmap .hex-label tspan.fine-free {
        font-size: 12px;
        font-weight: 700;
    }

    #libraryhexmap .hex-label {
        fill: #1b5e20 !important;
    }
</style>

<div id="libraryhexmap"></div>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="/assets/js/odi.hexmap.min.js"></script>
<script src="/assets/js/library-hex-map.js"></script>