<div>
    <label for="postcode">
        Postcode
    </label>
    <input id="postcode" name="address-postcode" type="text" maxlength="9" size="9" autocomplete="postal-code">
    <button id="btn-search" type="button" disabled>Search</button>
    <p id="search-error" class="error">Please wait while data loads.</p>
</div>

<h4 id="h-library-service"></h4>
<p id="p-fine-info"></p>
<p id="p-fine-example"></p>

<script src="/assets/js/helpers.js"></script>
<script src="/assets/js/my-library.js"></script>