<div>
  <label for="postcode">
    Postcode
  </label>
  <input id="postcode" name="address-postcode" type="text" maxlength="9" size="9" autocomplete="postal-code">
  <button id="btn-search" type="button" disabled>Search</button>
  <p id="search-error" class="error">Please wait while data loads.</p>
</div>

<h4 id="h-library-service" style="display: none"></h4>
<p id="p-fine-info" style="display: none"></p>
<p id="p-fine-example" style="display: none"></p>
<p id="p-tweet-text" style="display: none"></p>
<a id="a-tweet" style="display: none" href="#">Tweet to library</a>

<script src="/assets/js/helpers.js"></script>
<script src="/assets/js/my-library.js"></script>