<div>
    <label for="postcode">
        Postcode
    </label>
    <input id="postcode" name="address-postcode" type="text" maxlength="9" size="9" autocomplete="postal-code">
    <button id="btn-search" type="button" disabled>Search</button>
    <p id="search-error" class="error">Please wait while data loads.</p>
</div>

<div id="div-table-wrapper"></div>

<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="/assets/js/helpers.js"></script>
<script src="/assets/js/my-library.js"></script>