---
title: false
styles: true
---

$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #607d8b !default;

// Text colours
$headingColour: #37474f !default;
$bodyColour: #37474f !default;
$linkColour: #607d8b !default;
$hoverColour: #455a64 !default;
$focusColour: #ff5722 !default;
$captionColour: #616161 !default;
$white: #ffffff !default;

.typeset blockquote p {
  font-style: normal !important;
}

// Typography
$bodytype: (
  font-family: '"Merriweather", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Merriweather", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
) !default;

@import 'alembic';

.footer {
  background: $featureBackgroundColour;
  color: $captionColour;
  a {
    color: $captionColour;
    &:hover {
      color: $captionColour;
    }
  }
  .container {
    @include flex-wrap(wrap);
  }
  .small {
    padding-top: 0;
  }
}

#div-library-hexmap {
  height: 800px;
  width: 100%;
}

#div-library-hexmap .hex-cell {
  stroke: $white;
  stroke-width: 1;
}

#div-library-hexmap .hex-label tspan {
  font-size: 11px;
  font-weight: 700;
}

#div-library-hexmap .hex-label {
  fill: $linkColour !important;
}
